DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=true
POSTGRES_DB=professional_property_rental
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
CORS_ALLOWED_ORIGIN=http://localhost:5173
AUTH_TOKEN_TTL_SECONDS=86400
